<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commonMapper">
	
	<!-- 아이디 유효성 검사 -->
	<select id="idCheck" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ID = #{ id }
	</select>

	<!-- 이메일 유효성 검사 -->
	<select id="emailCheck" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE EMAIL = #{ email }
	</select>

	<!-- 회원가입 -->
	<insert id="memberInsert">
		INSERT INTO MEMBER
		VALUES (SEQ_MEMBERNO.NEXTVAL, #{ id }, #{ pwd }, #{ email }, #{ kind }, DEFAULT, SYSDATE)
	</insert>
	
	<!-- customer 로그인 -->
	<select id="customerSignIn" parameterType="Member" resultMap="CustomerResultSet">
		SELECT * 
		FROM MEMBER
		JOIN CUSTOMER ON (MEMBERNO = CUSTOMERNO)
		WHERE ID = #{ id } AND STATUS = 'Y'
	</select>
	
	<resultMap type="Customer" id="CustomerResultSet">
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<association property="member" resultMap="memberResultSet"></association>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBERNO"/>
		<result property="id" column="ID"/>
		<result property="pwd" column="PASSWORD"/>
		<result property="email" column="EMAIL"/>
		<result property="kind" column="KIND"/>
		<result property="status" column="STATUS"/>
		<result property="enrollDate" column="ENROLLDATE"/>
	</resultMap>
	
	<!-- business 로그인 -->
	<select id="businessSignIn" parameterType="Member" resultMap="BusinessResultSet">
		SELECT *
		FROM MEMBER
		JOIN BUSINESS ON (MEMBERNO = BUSINESSNO)
		WHERE ID = #{ id } AND STATUS = 'Y'
	</select>
	
	<resultMap type="Business" id="BusinessResultSet">
		<result property="enterName" column="ENTERNAME"/>
		<result property="businessName" column="BUSINESSNAME"/>
		<result property="licenseNo" column="LICENSENO"/>
		<result property="businessPhone" column="BUSINESSPHONE"/>
		<association property="member" resultMap="memberResultSet"></association>
	</resultMap>
	
	<!-- 메인에서 제품 가져오기 위한 리스트 -->
	<select id="getPList1" resultMap="ProductResultMap">
			SELECT * 
			FROM (SELECT ROWNUM, P.*
            	  FROM PRODUCT P
            	  WHERE P.PRODUCTCATEGORY = #{ category }
            	  ORDER BY ENROLLDATE DESC)
            <![CDATA[WHERE ROWNUM < 5]]>
	</select>
	
	<resultMap type="Product" id="ProductResultMap">
		<id property="productNo" column="PRODUCTNO"/>
		<result property="businessNo" column="BUSINESSNO"/>
		<result property="productCategory" column="PRODUCTCATEGORY"/>
		<result property="productBrand" column="PRODUCTBRAND"/>
		<result property="productThumbNail" column="PRODUCTTHUMBNAIL"/>
		<result property="productName" column="PRODUCTNAME"/>
		<result property="productPrice" column="PRODUCTPRICE"/>
		<result property="productDetail" column="PRODUCTDETAIL"/>
		<result property="status" column="STATUS"/>
		<result property="enrollDate" column="ENROLLDATE"/>
	</resultMap>
	
	<!-- 각 카테고리별 제품을 가져오기 위한 리스트 -->
	<select id="getPList2" resultMap="ProductResultMap">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCTCATEGORY = #{ category }
		ORDER BY ENROLLDATE DESC
	</select>
</mapper>
